@output-panel-bg-color: #f8f8f8;
@output-panel-border-color: #e7e7e7;

.navbar {
	border-radius: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

#editor {
	position: absolute;
	left: 0;
	top: 52px;
	right: 0;
	bottom: 0;
	overflow: auto;
	font-size: 16px;
	line-height: 1.5em;
}

@media (max-width: 767px) {
	#editor {
		top: 102px;
	}	
}

nav button {
	width: 125px;
}

.modal-footer button {
	width: 125px;
}

.navbar-brand {
	font-family: Verdana;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}

/* fix the conflict between ACE and Bootstrap */
.ace_search_field {
	color: #333;
}

ul.dropdown-menu {
	padding-top: 9px;
	padding-bottom: 12px;
}

/* output panel */

.output-panel {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 450px;
	height: 240px;
	background: @output-panel-bg-color;
	border-top: 1px solid @output-panel-border-color;
}

.output-panel > .content {
	position: absolute;
	left: 4px;
	top: 24px;
	right: 4px;
	bottom: 4px;
}