extends _extends/layout

block headex
	title λ-View 3
	link(rel='stylesheet/less', type='text/css', href='style/index.less')
	script(src='lib/less.min.js')
	link(rel="stylesheet", type="text/css", href="style/ast.css")
	script(src='lib/esprima.js')
	script(src='lib/ajax.js')
	script(src='lib/tstr.js')
	script(src='lib/pouchdb.min.js')
	script(src='js/output-panel.js')
	script(src='js/ast.js')
	script(src='js/vast.js')
	script(src='js/analyze.js')
	script(src='js/translate.js')
	script(src='js/render.js')
	script(src='js/folding.js')
	script(src='js/run.js')
	script(src='js/main.js')

block bodyex
	include _include.index/navbar.jade
	include _include.index/modal.jade
	#editor
	include _include.index/output-panel.jade
	include _include.index/local-file-panel.jade