body {
	font-family: Consolas, Menlo;
	background: #333333;
	color: #f1f1f1;
	line-height: 2em;
}

.vast {
	cursor: text;
}

.vast span {
	white-space: pre;
	vertical-align: top;
}

.vast .identifier:hover {
	text-decoration: underline;
}

.vast .keyword.function,
.vast .keyword:hover {
	color: yellow;
}

.vast .literal.string:hover {
	color: rgb(255, 184, 0);
}

.vast .semicolon {
	opacity: .5;
}