body {
	font-family: Consolas, Menlo;
	background: #333333;
	color: #f1f1f1;
	line-height: 2em;
}

.VAST div,
.VAST span {
	vertical-align: top;
}

/* 显示 var */

.VariableDeclaration:before {
	content: 'var ';
	color: yellow;
	white-space: pre;
}

/* 使得 var 与 declarations 同行显示 */

.VariableDeclaration > .declarations {
	display: inline-block;
}

/* id 和 init 同行显示 */

.VariableDeclarator > .id,
.VariableDeclarator > .init {
	display: inline-block;
}

/* 显示 = */

.VariableDeclarator > .init > *:before {
	content: ' = ';
	white-space: pre;
}

/* 使得 SequenceExpression 中的运算符和操作数显示在同一行上 */

.SequenceExpression > .expressions > * {
	display: inline-block;
}

.SequenceExpression > .expressions > *:after {
	content: ', ';
	white-space: pre;
}

.SequenceExpression > .expressions > *:last-child:after {
	content: '';
}

/* 使得 UnaryExpression 中的运算符和操作数显示在同一行上 */

.UnaryExpression > .operator,
.UnaryExpression > .argument {
	display: inline-block;
}

/* 在 UnaryExpression 中的运算符前或后插入空格 */

.UnaryExpression.prefix > .operator:after,
.UnaryExpression.postfix > .operator:before {
	content: ' ';
	white-space: pre;
}

/* 使得 BinaryExpression 中的运算符和操作数显示在同一行上 */

.BinaryExpression > .operator,
.BinaryExpression > .left,
.BinaryExpression > .right {
	display: inline-block;
}

/* 在 BinaryExpression 中的运算符前后插入空格 */

.BinaryExpression > .operator:after,
.BinaryExpression > .operator:before {
	content: ' ';
	white-space: pre;
}

/* 使得 AssignmentExpression 中的运算符和操作数显示在同一行上 */

.AssignmentExpression > .operator,
.AssignmentExpression > .left,
.AssignmentExpression > .right {
	display: inline-block;
}

/* 在 AssignmentExpression 中的运算符前后插入空格 */

.AssignmentExpression > .operator:after,
.AssignmentExpression > .operator:before {
	content: ' ';
	white-space: pre;
}

/* 使得 UpdateExpression 中的运算符和操作数显示在同一行上 */

.UpdateExpression > .operator,
.UpdateExpression > .argument {
	display: inline-block;
}

/* 在 UpdateExpression 中的运算符前或后插入空格 */

.UpdateExpression.prefix > .operator:after,
.UpdateExpression.postfix > .operator:before {
	content: ' ';
	white-space: pre;
}

/* 使得 LogicalExpression 中的运算符和操作数显示在同一行上 */

.LogicalExpression > .operator,
.LogicalExpression > .left,
.LogicalExpression > .right {
	display: inline-block;
}

/* 在 LogicalExpression 中的运算符前后插入空格 */

.LogicalExpression > .operator:after,
.LogicalExpression > .operator:before {
	content: ' ';
	white-space: pre;
}

/* 使得 ConditionalExpression 中的运算符和操作数显示在同一行上 */

.ConditionalExpression > .test,
.ConditionalExpression > .consequent,
.ConditionalExpression > .alternate,
.ConditionalExpression > .test > div,
.ConditionalExpression > .consequent > div,
.ConditionalExpression > .alternate > div {
	display: inline-block;
}

/* 在 ConditionalExpression 中插入运算符 */

.ConditionalExpression > .test:after {
	content: ' ? ';
	white-space: pre;
}

.ConditionalExpression > .consequent:after {
	content: ' : ';
	white-space: pre;
}

/* 使得 MemberExpression 中的运算符和操作数显示在同一行上 */

.MemberExpression > .object,
.MemberExpression > .property,
.MemberExpression > .object > div,
.MemberExpression > .property > div {
	display: inline-block;
}

.MemberExpression > .property:before {
	content: '.';
}

.MemberExpression.computed > .property:before {
	content: '[';
}

.MemberExpression.computed > .property:after {
	content: ']';
}
