body {
	font-family: Consolas, Menlo;
	background: #333333;
	color: #f1f1f1;
	line-height: 2em;
}

.VAST div,
.VAST span {
	vertical-align: top;
}

/* 显示 var */

.VariableDeclaration:before {
	content: 'var ';
	color: yellow;
	white-space: pre;
}

/* 使得 var 与 declarations 同行显示 */

.VariableDeclaration > .declarations {
	display: inline-block;
}

/* id 和 init 同行显示 */

.VariableDeclarator > .id,
.VariableDeclarator > .init {
	display: inline-block;
}

/* 显示 = */

.VariableDeclarator > .init > *:before {
	content: ' = ';
	white-space: pre;
}