body {
	font-family: Consolas, Menlo;
	background: #333333;
	color: #f1f1f1;
	line-height: 2em;
}

.vast {
	cursor: text;
}

.vast span {
	white-space: pre;
	vertical-align: top;
}

.vast .identifier:hover {
	text-decoration: underline;
}

.vast .keyword {
	font-style: italic;
}

.vast .keyword.function,
.vast .keyword:hover,
.vast .operator:hover {
	color: yellow;
}

.vast .literal:hover {
	background: rgb(255, 116, 0);
	border-radius: 2px;
}

.vast .semicolon {
	opacity: .5;
}

.vast .highlight {
	background: rgba(255, 255, 255, 0.1);
}