.navbar {
	border-radius: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

#top-tab-content {
	position: absolute;
	left: 0;
	top: 52px;
	right: 0;
	bottom: 0;
}

#before, #after {
	height: 100%;
	overflow: auto;
}

#source-code {
	height: 100%;
	font-size: inherit;
}

.formated-code {
	height: 100%;
	overflow: auto;
}

.lineno {
	background: rgba(255, 255, 255, 0.15);
	width: 57px;
	color: #FFF;
	display: inline-block;
}

.lineno > div {
	text-align: right;
	padding: 0 10px;
}

.lineno > div:hover {
	background: rgba(255, 255, 255, 0.125);
}

#ast-view {
	display: inline-block;
	padding-left: 10px;
}