.navbar {
	border-radius: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

#top-tab-content {
	position: absolute;
	left: 0;
	top: 52px;
	right: 0;
	bottom: 0;
}

#before, #after {
	height: 100%;
	overflow: auto;
}

#source-code {
	height: 100%;
	font-size: inherit;
}

#ast-view {
	height: 100%;
	overflow: auto;
}