body {
	font-size: 24px;
	font-family: Consolas;
	background: #333333;
	color: #f1f1f1;
	line-height: 2.5em;
}

div {
	position: relative;
}

/* 关键词 */

.var,
.if,
.else {
	color: yellow;
	display: inline-block;
	vertical-align: top;
	white-space: pre;
}

/* If */

.BlockStatement {
	border: solid 1px rgba(255, 255, 255, 0.2);
	padding: .25em;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding-left: 2em;
	margin-top: .5em;
}

.BinaryExpression,
.UpdateExpression,
.UnaryExpression,
.LogicalExpression,
.ConditionalExpression,
.AssignmentExpression,
.CallExpression, {
	background: rgba(0, 255, 143, 0.3);
	padding: 0 .5em;
}

/* 操作符 */

.operator {
	white-space: pre;
}

/* 并排编排 */

.VariableDeclarator > .id,
.VariableDeclarator > .equ,
.VariableDeclarator > .init,
.BinaryExpression > *,
.UpdateExpression > *,
.UnaryExpression > *,
.LogicalExpression > *,
.ConditionalExpression > *,
.AssignmentExpression > *,
.CallExpression > *,
.ObjectExpression > *,
.ObjectExpression > .Property > *,
.ArrayExpression > *,
.NewExpression > *,
.MemberExpression > * {
	display: inline-block;
}

.VariableDeclaration > .box,
.IfStatement .test {
	display: inline-block;
}

.IfStatement .test > div {
	display: inline-block;
}

/* 点缀字符 */

.VariableDeclarator > .equ,
.IfStatement > .test > .bracket {
	opacity: .5;
}

.VariableDeclarator > .equ,
.comma,
.colon,
.new {
	white-space: pre;
}