.local-file-panel
	.title File
	ul
		li(v-repeat='file : files' v-class='open : file.open' v-on='click: onOpen')
			i.fa.fa-file-text-o
			span {{file.name}}
			.btn-group.pull-right
				button.btn-xs.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Action 
					span.caret
				ul.dropdown-menu
					li
						a(href='javascript:', v-on='click: onRename') Rename
					li
						a(href='javascript:', v-on='click: onRemove') Delete
	.add-container
		button.btn.btn-default.btn-block.add(v-on='click: onAdd') + Add