.local-file-panel
	.title local file
	button.add(v-on='click: onAdd') +add
	ul
		li(v-repeat='file : files' v-class='open : file.open' v-on='click: onOpen, dblclick: onRename')
			span {{file.name}}
			button.remove.pull-right(v-on='click: onRemove') -del