nav
	a.brand(href='#') λ-VIEW 3

	.btn-toolbar

		.btn-group(role='group', aria-label='...', style='display: none')
			button.btn.btn-default(type='button', style='width: auto;')
				i.fa.fa-file-text-o

		.btn-group(role='group', aria-label='...')
			button#format.btn.btn-default(type='button')
				i.fa.fa-indent
				| &nbspFormat
			button#fold-all.btn.btn-default(type='button')
				i.fa.fa-compress
				| &nbspFold All
			button#unfold-all.btn.btn-default(type='button')
				i.fa.fa-expand
				| &nbspUnfold All

		button#run.btn.btn-success(type='button' accesskey='r' title='Alt+R')
			i.fa.fa-play
				| &nbspRun
